In [2]:
import pandas as pd 
import gspread 
from oauth2client.service_account import ServiceAccountCredentials
from pandas.io.json import json_normalize

In [5]:
# Connect to our service account
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('./sa_cred.json', scope)
gc = gspread.authorize(credentials)

In [8]:
##Get candidate data sheet from Google Drive
spreadsheet_key = '1dQNs-d9fFF4j6sZQjORiP1BhkZbmLnzHxW6toTA6NQU'
book = gc.open_by_key(spreadsheet_key)
worksheet = book.worksheet("Sheet1")
table = worksheet.get_all_values()
# table

[['Date', 'High'],
 ['5/25/2022 16:00:00', '108.89'],
 ['5/26/2022 16:00:00', '113.5'],
 ['5/27/2022 16:00:00', '116.01'],
 ['5/31/2022 16:00:00', '119.79'],
 ['6/1/2022 16:00:00', '120.75'],
 ['6/2/2022 16:00:00', '123.58'],
 ['6/3/2022 16:00:00', '122.54'],
 ['6/6/2022 16:00:00', '122.14'],
 ['6/7/2022 16:00:00', '121.97'],
 ['6/8/2022 16:00:00', '123.82'],
 ['6/9/2022 16:00:00', '122.03'],
 ['6/10/2022 16:00:00', '117.09'],
 ['6/13/2022 16:00:00', '112.02'],
 ['6/14/2022 16:00:00', '111.89'],
 ['6/15/2022 16:00:00', '114.72'],
 ['6/16/2022 16:00:00', '109.9'],
 ['6/17/2022 16:00:00', '108.55'],
 ['6/21/2022 16:00:00', '109.82'],
 ['6/22/2022 16:00:00', '106.9']]

In [12]:
##Convert table data into a dataframe
df = pd.DataFrame(table[1:], columns=table[0])
##Only keep columns we need
df = df[['Date', 'High']]
##Convert number strings to floats and ints
df = df.apply(pd.to_numeric, errors='ignore')
##Convert date strings to datetime format
df['Date'] = pd.to_datetime(df['Date'],infer_datetime_format=True)
df.head()

                 Date    High
0 2022-05-25 16:00:00  108.89
1 2022-05-26 16:00:00  113.50
2 2022-05-27 16:00:00  116.01
3 2022-05-31 16:00:00  119.79
4 2022-06-01 16:00:00  120.75

In [13]:
from df2gspread import df2gspread as d2g

wks_name = 'Jupyter Manipulated Data'

d2g.upload(df, spreadsheet_key, wks_name, credentials=credentials, row_names=True)